---
layout: default
---

<html lang=en-ca>
<head>
	<meta charset=utf-8 />
	<title> My webstie </title>
	<link href="css/general.css" rel="stylesheet">
	
</head>
<body>

<h1> projects </h1>

<ul>
	{% for projects in site.pages %}
		{% if dino.category == "project" %}
			<li> {{dino.name}}</li>
				<li>
			<figure>
			<img src="{{dino.thumb}}" alt="">
			<figcaption>{{dino.name}}</figcaption>
			</figure>
			</li>
			
		{% endif %}
	{% endfor %}
	
	</ul>
		 
		 
		
	
	<script src="<div class="masthead-top">
ody>
	</head>
	</html>

		